@model BookProject.Models.ViewModels.StatsViewModel





        <div class="row">
        <div class="col-md-5">
            <h2>
                Authors
            </h2>
            <p>
                <dl class="dl-horizontal">
                    
                    @foreach (var item in Model.AuthorsDictionary)
                    {
                        <dt>
                            @item.Key :
                        </dt>

                        <dd>
                            @item.Value 
                        </dd>
                    }
                    
                </dl>

            </p>

        </div>


        <div class="col-md-5">
                <h2>
                    Genres
                </h2>
                <p>
                    <dl class="dl-horizontal">
                        
                        @foreach (var item in Model.GenresDictionary)
            {
                            <dt>
                                @item.Key :
                            </dt>

                            <dd>
                                @item.Value
                            </dd>
                        }
                    </dl>
                </p>
            </div>


        </div>