@model BookProject.Models.ViewModels.StatsSummaryViewModel

<div>
    <p>
        You have logged <strong>@Model.StatsSummaryDictionary["bookTotal"] books</strong>, covering <strong>@Model.StatsSummaryDictionary["genreTotal"] genres</strong>.
    </p>


</div>