@model BookProject.Models.ViewModels.ChartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Timeline";
}

<h1>Your book timeline</h1>

<img src="@Url.Content("/Images/TimelineChart.jpg")" />

