@{
    ViewBag.Title = "About";
}
<h1><img src="@Url.Content("/Images/book.png")" width="30" /> @ViewBag.Title</h1>
@*<h3>@ViewBag.Message</h3>*@

<h3>Book Collector can:</h3

<p>- help you stay on top of all the books you own (no more losing books that you've forgotten someone was "borrowing"!) </p>
<p>- show all your books on a world map, giving you an interesting image of how global your tastes are</p>