@{
    ViewBag.Title = "Contact";
}
<h1><img src="@Url.Content("/Images/book.png")" width="30" /> Get in touch</h1>


<address>
    25 North Way<br />
    Harborne,<br />
    Birmingham,<br />
    B21 4HG<br />
    <abbr title="Phone">P:</abbr>
    0121 556 4582
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@bookcollector.com">Support@example.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:Marketing@bookcollector.com">Marketing@example.com</a>
</address>

<address>
    <strong>Like us on facebook</strong><br/>
    <strong>Follow us on twitter</strong>
</address>